body {
  background-color: #f5f6fa;
}
.main {
  min-height: 900px;
  max-width: 1280px;
}

.container-fluid {
  background-image: url("corona1.jpg");
  height: 100%;
  min-width: 400px;
}
.row {
  background-color: antiquewhite;
  background-color: #e1e4ed;
}
.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.search-container {
  display: flex;
  align-items: center;
}
.map-container {
  height: 500px;
  border-radius: 12px;
}
#map {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.chart-container .col {
  background-color: #eff2f6;
  border-radius: 12px;
}
.chart-container {
  /* height: 300px; */
  margin-left: 0;
  margin-right: 0;
}

.col {
  border-radius: 12px;
}

.linear-chart {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.title-container h2 {
  color: red;
  margin-bottom: 0;
}
.title-container h4 {
  text-transform: uppercase;
  /* color: #cacbcf; */
  color: #111111;
}
.search-container .card {
  background-color: #eff2f6;
  border-radius: 12px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.search-container .card-body {
  padding: 1rem;
}
.stats-container .card {
  background-color: #eff2f6;
  border-radius: 12px;
  box-shadow: 0 0 8px -4px rgba(0 0 0 0.5);
}

.stats-container .card-title {
  color: #695d5c;
  font-weight: 400;
}

.stats-container .total {
  font-size: 0.8rem;
}
.stats-container .card-subtitle {
  font-weight: 600;
}
.pie-chart-container {
  height: 100%;
  width: 50%;
  /* display: inline-block; */
  /* clear:both; */
}
#pie-chart {
  background-color: burlywood;
  height: 100%;
  width: 100%;
}

.side-panel-container {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  background-color: white;
  box-shadow: 0 0 8px -4px rgba(0 0 0 0.5);
  padding-top: 15px;
}
.total-number {
  color: #cc1034;
}
.active-number {
  color: #9d80fe;
}
.recovered-number {
  color: #7fd922;
}
.death-number {
  color: #b95a5a;
}
/* .card:hover {
  background-color: #caccc3;
  cursor: pointer;
} */
.table {
  width: 100%;
  border-radius: 12px;
  border-spacing: 0px;
}
.country-data {
  width: 100%;
  border-spacing: 0px;
  margin-top: 20px;
  /* border-radius: 10px; */
  overflow: scroll;
  height: 400px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
  margin-bottom: 5px;
}
.table-flag {
  min-height: 10px;
  min-width: 80%;
}

.country-data .table td {
  padding: 0.5rem;
}
.chart-container {
  width: 100%;
}

.case-table-container h4,
.chart-container h4 {
  color: #6a5d5d;
  font-weight: 400;
  text-align: center;
}
tr:hover {
  background-color: #898d78;
  transition: ease-in-out 0.5s;
}
/* table{
  position: relative;
}
thead{
  position: sticky;
} */
.card {
  overflow: hidden;
  cursor: pointer;
}

.tab-selection {
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.card:hover > .tab-selection {
  opacity: 1;
}
.card.active > .tab-selection {
  opacity: 1;
}
.cases .tab-selection {
  background-color: #cc1034;
}
.recovered .tab-selection {
  background-color: #7fd922;
}
.deaths .tab-selection {
  background-color: red;
}

/* .card::active {
  border-top-color: red;
  border-top-width: 7px;
  border-radius: 12px;
} */

@media screen and (max-width: 1280px) {
  #main-row {
    flex-direction: column;
  }
}

@media (min-width: 1280px) {
  .side-panel-container {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

@madia();
